@import "src/styles/vars_mixins";

@keyframes feedback-anim {
  0% {
    opacity: 0.3;
    margin-bottom: 20px;
  }
  100% {
    opacity: 1;
    margin-bottom: 6px;
  }
}

.feedback-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  position: fixed;
  z-index: 1050;
  right: 1rem;
  bottom: 1rem;
  max-width: 320px;
  width: 100%;

  &.visible ~ .announcement-container {
    bottom: 10rem !important;
  }

  .error-content {
    display: flex;

    .error-img {
      @media (max-width: $md-break) {
        margin-right: 0.8rem !important;
      }
      margin-left: 0.5rem;
      margin-right: 2.3rem;
    }
  }

  .feedback-success {
    svg {
      @apply text-white;
    }
  }

  .feedback-error {
    svg {
      @apply text-red-020;
    }
  }

  .feedback-info {
    svg {
      @apply text-blue-dark-sky;
    }
  }
}

.details-button {
  color: #fff;
  opacity: 0.5;

  &:hover {
    color: #fff;
    opacity: 0.75;
  }
}

.theme-night .details-button {
  color: $primary;
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }
}
