.er-tag-link {
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  color: #357ce6;
  border: 1px solid var(--border-color, #dee2e6);
  padding: 0.125rem 0.5rem;
  font-size: 0.75rem !important;
  border-radius: 1rem;
  white-space: nowrap;
  box-sizing: border-box;

  &::after {
    content: none !important;
  }

  &:hover {
    color: #1b68da;
  }
}