.markdown-video-link-speak {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 56.25%; // 16:9
  height: 0;
  cursor: pointer;
  overflow: hidden;
  margin: 1rem 0;
  background-color: #000;

  .video-thumbnail,
  .markdown-video-play,
  .ecency-renderer-speak-extension-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .video-thumbnail {
    z-index: 1;
    object-fit: contain;
    background-color: #000;
  }

  .markdown-video-play {
    z-index: 2;
    background: url(play-icon.svg) center center no-repeat;
    background-size: 64px;
    pointer-events: none;
  }

  .ecency-renderer-speak-extension-frame {
    z-index: 3;
  }

  .speak-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}
