body {
  font-family: sans-serif;
}

.storybook {
  display: grid;
  max-width: 1600px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 3rem;
}

.storybook > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  overflow: auto;
}

.storybook-item {
  border-radius: 4px;
  background-color: #f6f6f6;
  padding: 1rem;
}
