@tailwind base;
@tailwind components;

@import "./variables";
@import "./mixins";

@import "./bootstrap_vars";

@import "./base";
@import "./components";

@import "./theme-day";
@import "./theme-night";

@import "static-pages";

@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media print {
  .post-disclaimer-print {
    display: block !important;
    font-size: 12px;
    color: #000;
    margin-top: 20px;
  }

  /* Optional: Hide UI elements don't want printed */
  .entry-payout, .ecency-center, .similar-entries-list, #sticky-container, #word-count, #avatar-fixed-container {
    display: none !important;
  }
}
