@import "src/styles/vars_mixins";
@import "../helpers/helpers";
@import "src/features/waves/styles/thread-render";

.deck {

  .thread-item {
    display: grid;
    grid-template-columns: 1fr;

    &:hover:not(.pure) {
      background-color: rgba($primary, 0.05);
    }

    &-header, &-parent {
      display: grid;
      grid-template-areas:
        "avatar username date"
        "avatar host date";
      grid-gap: 0 1rem;
      grid-template-columns: 35px 1fr min-content;

      @include padding(1rem);

      .user-avatar {
        grid-area: avatar;
      }

      .host {
        grid-area: host;

        @include font-size(0.75rem);

        > a {
          color: $secondary;
        }
      }

      .username {
        grid-area: username;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 0.25rem;

        span {
          color: $secondary;
        }

        @include font-size(0.875rem);
      }

      .date {
        grid-area: date;
        font-weight: bold;
        opacity: 0.5;

        @include font-size(0.75rem);
      }

      .date, .host {
        a {
          color: $secondary;
          border-bottom: 1px solid transparent;

          &::after {
            content: none;
          }

          &:hover {
            border-color: $secondary;
          }
        }
      }

      .you {
        color: $secondary;

        @include font-size(0.75rem);
      }
    }

    &-parent {
      grid-template-areas: "avatar host";
      grid-template-columns: 35px 1fr;

      .username {
        color: $secondary;

        @include font-size(0.75rem);
      }

      .host {
        text-align: left;

        @include padding(0);
        @include font-size(0.875rem);
      }

      .user-avatar {
        justify-self: center;
      }
    }

    &-body {
      @include padding(1rem);
      @include padding-top(0);
    }

    &-show-replies {
      .btn {
        text-transform: uppercase;
        font-weight: bold;

        @include font-size(0.675rem);
      }
    }

    &.has-parent {
      .thread-item-body, .thread-item-actions {
        border-left: 2px solid $border-color;

        margin-left: calc(1rem + 16.5px);
        padding-left: 2.125rem;
      }
    }

    &.pending {
      @apply bg-gray-100;

      @include themify(night) {
        @apply bg-gray-800;
      }
    }

    .updated-label {
      color: $secondary;
      opacity: 0.75;

      @include font-size(0.75rem);
    }
  }

  .virtual-list-item {

    a[target=_blank]:after {
      content: none;
    }

    .date {
      font-weight: bold;
      opacity: 0.5;

      a {
        color: $secondary;

        @include font-size(0.75rem);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .custom-dropdown .dropdown-btn .menu-down {
    width: auto;
    height: auto;
  }
}

.deck-full-image-view {
  position: fixed;
  transition: 0.4s;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  z-index: $zindex-modal;

  &.show {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);

    > img {
      display: block;
      margin-top: 2rem;
      width: 100% !important;
      height: min(calc(100vh - 4rem), 768px) !important;
      transform: translate(0, 0) !important;
    }
  }

  > img {
    object-fit: contain;
    transition: 0.4s;
    position: fixed;
  }
}