@import "../../../../../../../../styles/vars_mixins";

.similar-entries-list {
  margin: 20px 0;
  padding-top: 15px;

  .similar-entries-list-header {
    margin-bottom: 14px;

    .list-header-text {
      @include themify(day) {
        @apply text-gray-charcoal;
      }

      @include themify(night) {
        @apply text-gray-pinkish;
      }

      font-weight: 500;
      font-size: 28px;
      display: flex;
      align-items: center;
    }
  }

  .similar-entries-list-body {
    .similar-entries-list-item {
      cursor: pointer;

      .item-image {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 120px;
        justify-content: center;
        margin: 6px 0;
        overflow: hidden;
        width: 100%;
        border-radius: 8px;

        @include themify(day) {
          @apply bg-light-600;
        }

        @include themify(night) {
          @apply bg-dark-600;
        }

        img {
          height: auto;
          max-width: 100%;
        }
      }

      .item-footer {
        font-size: 13px;

        @include themify(day) {
          @apply text-gray-steel;
          opacity: 0.7;
        }

        @include themify(night) {
          @apply text-gray-steel-light-015;
        }

        .item-footer-date {
          float: right;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
