.waves-page-layout {
  .entry-body {
    .medium-zoom-image:not(.medium-zoom-image--opened),
    img:not(.ecency-renderer-wave-like-post-extension-renderer--author-avatar, .medium-zoom-image--opened) {
      margin: 0 auto;
    }
    .markdown-image-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .markdown-image-container img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }

    .markdown-img-caption {
      margin-top: 0.5rem;
      font-size: 0.875rem;
      color: #666;
      text-align: center;
    }
  }
}
