@import "../../../styles/vars_mixins";

.navbar-toggle {
  > span {
    height: 0.125rem;
    width: 1.5rem;
    transition: 0.3s;
  }

  &.expanded {
    > span:nth-child(1) {
      transform: rotate(45deg) translateY(0.5rem);
    }

    > span:nth-child(2) {
      transform: scale(0);
    }

    > span:nth-child(3) {
      transform: rotate(-45deg) translateY(-0.5rem);
    }
  }
}

.navbar-default {
  .switch-language {
    .dropdown-btn {
      @apply ml-3 text-dark-default dark:text-white;

      .label {
        font-size: 1rem;

        @apply font-normal;
      }
    }

    .menu-down {
      display: none;
    }
  }
}

.navbar-chat-badge {
  @apply absolute -top-1 -right-1 inline-flex min-w-[18px] items-center justify-center rounded-full px-1 text-[10px] font-semibold text-white shadow;
  @apply bg-red-040;
}
