@import "../../styles/vars_mixins";

.communities-page {
  flex-direction: column;

  .community-list {
    max-width: 680px;
    width: 100%;

    .list-header {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .list-title {
        @apply text-blue-dark-sky;
        font-size: 26px;
        margin: 0;
        flex-grow: 1;
      }

      .create-link {
        font-size: 90%;
      }
    }

    .list-form {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .search {
        max-width: 400px;
        margin-right: 60px;
        flex-grow: 1;
      }

      .sort {
        flex-grow: 0;
      }
    }

    .list-items {
      padding-top: 20px;
    }
  }
}


.community-key-modal {
  .modal-body {
    padding-top: 30px;
  }
}

.community-title {
  font-weight: 700;
  font-size: 59px;
  @apply text-black;
  line-height: 68px;

  @include themify(night) {
    @apply text-white;
  }

  @media (max-width: $lg-break) {
    font-size: 46px;
    line-height: 59px;
  }

  @media (max-width: $sm-break) {
    font-size: 31px;
    line-height: 37px;
  }
}

.descriptive-list {
  @apply text-blue-dark-sky;
  font-weight: 300;
  font-size: 24px;

  li {
    line-height: 50.4px;

    @media (max-width: $lg-break) {
      line-height: 38px;
    }

    @media (max-width: $sm-break) {
      font-size: 18px;
      line-height: 25px;
    }
  }

  @include themify(night) {
    @apply text-gray-warm;
  }

  @media (max-width: $lg-break) {
    font-size: 21px;
    line-height: 31px;
  }

}

.learn-more {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;

  a {
    @apply text-blue-dark-sky;
  }

  @include themify(night) {
    @apply text-gray-warm;
  }

  @media (max-width: $lg-break) {
    font-size: 16px;
  }

  @media (max-width: $sm-break) {
    font-size: 15px;
    line-height: 25px;
  }

}

.info-icon {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply text-gunmetal;
  border: 1.17px solid;
  @apply border-gunmetal;
  font-size: 10px;
}

.form-label {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
}

.label-text {
  font-size: 18px;
  font-weight: 400;
}
