.markdown-view {
  @include clearfix();

  word-break: break-word !important;
  overflow-wrap: break-word;
  overflow-x: auto;

  br {
    font-size: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    line-height: 1.65;
    margin: 0 0 0.7em 0;
  }

  h1 del,
  h1 s,
  h1 strike,
  h2 del,
  h2 s,
  h2 strike,
  h3 del,
  h3 s,
  h3 strike,
  h4 del,
  h4 s,
  h4 strike,
  h5 del,
  h5 s,
  h5 strike,
  h6 del,
  h6 s,
  h6 strike {
    text-decoration: line-through;
  }

  del,
  s,
  strike {
    text-decoration: line-through;
    text-decoration-thickness: auto;
  }

  h1 del,
  h1 s,
  h1 strike,
  h2 del,
  h2 s,
  h2 strike,
  h3 del,
  h3 s,
  h3 strike,
  h4 del,
  h4 s,
  h4 strike,
  h5 del,
  h5 s,
  h5 strike,
  h6 del,
  h6 s,
  h6 strike {
    text-decoration: line-through;
  }

  h1 {
    font-size: 22px;

    @media (min-width: $md-break) {
      font-size: 28px;
    }
  }

  h2 {
    font-size: 20px;
    font-weight: bold;

    @media (min-width: $md-break) {
      font-size: 24px;
    }
  }

  h3 {
    font-size: 18px;

    @media (min-width: $md-break) {
      font-size: 20px;
    }
  }

  h4 {
    font-size: 16px;

    @media (min-width: $md-break) {
      font-size: 18px;
    }
  }

  h5 {
    font-size: 14px;
    @media (min-width: $md-break) {
      font-size: 16px;
    }
  }

  blockquote {
    padding-left: 10px;
    border-left-width: 4px;
    border-left-style: solid;
    margin: 1rem 0;

    @include themify(day) {
      @apply text-gray-warm;
      @apply border-l-gray-warm-025;
    }

    @include themify(night) {
      @apply text-blue-dusky-2;
      @apply border-blue-dusky-2-007;
    }

    p {
      margin: 0;
    }
  }

  p {
    line-height: 1.55;
    margin: 0 0 1em 0;
    text-rendering: optimizeLegibility;

    img {
      display: inline-block; // to keep alignment
    }
  }

  p[dir="left"],
  p[data-align="left"],
  h1[dir="left"],
  h1[data-align="left"],
  h2[dir="left"],
  h2[data-align="left"],
  h3[dir="left"],
  h3[data-align="left"],
  h4[dir="left"],
  h4[data-align="left"],
  h5[dir="left"],
  h5[data-align="left"],
  h6[dir="left"],
  h6[data-align="left"] {
    text-align: left;
  }

  p[dir="center"],
  p[data-align="center"],
  h1[dir="center"],
  h1[data-align="center"],
  h2[dir="center"],
  h2[data-align="center"],
  h3[dir="center"],
  h3[data-align="center"],
  h4[dir="center"],
  h4[data-align="center"],
  h5[dir="center"],
  h5[data-align="center"],
  h6[dir="center"],
  h6[data-align="center"] {
    text-align: center;
  }

  p[dir="right"],
  p[data-align="right"],
  h1[dir="right"],
  h1[data-align="right"],
  h2[dir="right"],
  h2[data-align="right"],
  h3[dir="right"],
  h3[data-align="right"],
  h4[dir="right"],
  h4[data-align="right"],
  h5[dir="right"],
  h5[data-align="right"],
  h6[dir="right"],
  h6[data-align="right"] {
    text-align: right;
  }

  p[dir="justify"],
  p[data-align="justify"],
  h1[dir="justify"],
  h1[data-align="justify"],
  h2[dir="justify"],
  h2[data-align="justify"],
  h3[dir="justify"],
  h3[data-align="justify"],
  h4[dir="justify"],
  h4[data-align="justify"],
  h5[dir="justify"],
  h5[data-align="justify"],
  h6[dir="justify"],
  h6[data-align="justify"] {
    text-align: justify;
  }

  ul li,
  ol li {
    line-height: 150%;
    margin: 0 0 1rem 0;
  }

  img {
    max-width: 100%;
  }

  .markdown-img-caption {
    @apply text-sm text-center text-gray-600 dark:text-gray-400 py-4 capitalize font-sans;
  }

  a {
    @apply text-blue-dark-sky;
  }

  hr {
    clear: both;
    margin: 10px auto;
    border-top-width: 0;
    border-bottom: 1px solid #ccc;
  }

  table {
    word-break: normal !important;
    overflow-x: auto;
    width: 100%;
    max-width: 100%;

    @apply border dark:border-gray-700 overflow-hidden table-auto border-collapse text-xs sm:text-sm md:text-base;

    tr {
      @apply [&:last-child>td]:border-b-0 [&:nth-child(even)]:bg-light-200 dark:[&:nth-child(even)]:bg-dark-300;
    }

    td {
      @apply border-b border-r dark:border-gray-700 last:border-r-0 p-1 sm:p-2;
    }

    th {
      @apply border-b dark:border-gray-700 text-left font-[500] bg-gray-100 dark:bg-dark-200 text-sm text-gray-700 dark:text-white border-r last:border-r-0 sm:text-sm md:text-base p-1 sm:p-2;
    }

    p {
      margin-bottom: 0;
    }
  }

  :not(pre) code {
    padding: 0.2em 0.3em;
    border-radius: 6px;
  }

  p + pre,
  h1 + pre,
  h2 + pre,
  h3 + pre,
  h4 + pre,
  h5 + pre {
    margin-top: 0.5rem;
  }

  ol {
    list-style: decimal;
    padding-left: 40px;
  }

  ul {
    list-style: inherit;
    padding-left: 40px;
  }

  pre {
    overflow-x: auto;
    font-size: 18px;
    padding: 15px;
    font-family: $font-family-sans-serif;
    margin: 1.5rem 0;

    @include themify(day) {
      border: 1px solid;
      @apply border-light-500;
    }

    @include themify(night) {
      border: 1px solid #30363d;
    }
  }

  code {
    font-size: 0.875rem;
  }

  pre,
  code {
    @include themify(day) {
      @apply bg-light-600;
      @apply text-gray-charcoal;

      .ll-nam {
        @apply text-gray-charcoal;
      }
      .ll-key {
        color: rgb(207, 34, 46);
      }
      .ll-str {
        color: rgb(17, 99, 41);
      }
      .ll-com {
        color: rgb(110, 119, 129);
      }
      .ll-pct {
        color: rgb(5, 80, 174);
      }
      .ll-num {
        color: rgb(149, 56, 0);
      }
      .ll-rex {
        color: rgb(130, 80, 223);
      }
    }

    @include themify(night) {
      background: #283241;
      @apply text-silver;

      .ll-nam {
        @apply text-silver;
      }
      .ll-key {
        color: rgb(255, 123, 114);
      }
      .ll-str {
        color: rgb(126, 231, 135);
      }
      .ll-com {
        color: rgb(139, 148, 158);
      }
      .ll-pct {
        color: rgb(121, 192, 255);
      }
      .ll-num {
        color: rgb(255, 166, 87);
      }
      .ll-rex {
        color: rgb(210, 168, 255);
      }
    }
  }

  .phishy {
    display: inline;
    @apply text-red-020;
  }

  .text-justify {
    text-align: justify;
  }

  .pull-left,
  .pull-right {
    @media (min-width: $md-break) {
      max-width: calc(50% - 10px);
      padding-left: 10px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }
  }

  .pull-left {
    @media (min-width: $md-break) {
      margin-right: 10px;
      padding-right: 10px;
      float: left;
    }
  }

  .pull-right {
    @media (min-width: $md-break) {
      margin-left: 10px;
      padding-right: 10px;
      float: right;
    }
  }

  .markdown-external-link,
  .markdown-post-link,
  .markdown-author-link,
  .markdown-tag-link,
  .markdown-community-link,
  .markdown-witnesses-link {
    cursor: pointer;
  }


  // Video link styles moved to ecency-renderer.scss for unified styling
  // This prevents CSS conflicts when elements have both base and platform-specific classes


  // Exclude video iframes from global iframe styling
  iframe:not(.youtube-shorts-iframe):not(.speak-iframe):not(.portrait-embed) {
    max-width: 100% !important;
    max-height: 500px;
    display: block;
    @media (min-width: $xsm-break) {
      width: 320px;
      height: 180px;
    }
    @media (min-width: $xs-break) {
      width: 360px;
      height: 202px;
    }
    @media (min-width: $sm-break) {
      width: 420px;
      height: 236px;
    }
    @media (min-width: $md-break) {
      width: 480px;
      height: 270px;
    }
    @media (min-width: $lg-break) {
      width: 640px;
      height: 360px;
    }

    &.portrait-embed {
      @media (min-width: $xsm-break) {
        width: 180px;
        height: 320px;
      }
      @media (min-width: $xs-break) {
        width: 202px;
        height: 360px;
      }
      @media (min-width: $sm-break) {
        width: 236px;
        height: 420px;
      }
      @media (min-width: $md-break) {
        width: 270px;
        height: 480px;
      }
      @media (min-width: $lg-break) {
        width: 360px;
        height: 640px;
      }
    }
  }

  &.mini-markdown {
    word-wrap: break-word;

    p {
      margin: 0 0 0.6rem 0;

      &:last-child {
        margin-bottom: 0.2rem;
      }
    }

    h1 {
      font-size: 20px;
      margin: 6px 0;
    }

    h2 {
      font-size: 18px;
      margin: 4px 0 4px 0;
    }

    h3 {
      font-size: 16px;
      margin: 4px 0 4px 0;
    }

    ul li,
    ol li {
      font-size: 16px;
    }

    // img {
    //   @media (min-width: $md-break) {
    //     width: 100%;
    //     max-width: 400px;
    //   }
    // }
  }

  .unsupported-iframe {
    font-style: italic;
    margin: 10px 0;
  }
}
