@import "tailwindcss";
@source "../config.json";

html {
  overflow: hidden;
}

html,
body {
  min-height: 100%;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--foreground);
  font-family: "Raleway", -apple-system, Helvetica, Arial, sans-serif;
}

* {
  font-family: inherit;
}
