@import "tailwindcss";

html {
  overflow: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Raleway", -apple-system, Helvetica, Arial, sans-serif;
}

* {
  font-family: inherit;
}
