@import "../../../../../../styles/vars_mixins";

.profile-info-tooltip-content {
  text-align: left;
  font-weight: normal;
  padding: 0.5rem;

  p {
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;

    svg {
      height: 12px;
      margin-left: 4px;
      @apply text-white;
    }

    small {
      margin-left: 4px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
