.publish-page {
  @apply w-full;

  .tiptap {
    @apply outline-none;
  }

  > div:not(.publish-page-editor-toolbar-container) {
    @apply w-full h-full mx-auto;

    > .tiptap {
      @apply w-full min-h-[500px];

      .is-empty::before {
        content: attr(data-placeholder);

        @apply float-left h-0 pointer-events-none text-gray-400 dark:text-gray-600;
      }

      .publish-editor-image-viewer {
        p {
          margin: 0;
        }
      }

      .editor-link {
        @apply text-blue-dark-sky hover:text-blue-dark-sky-hover;
      }

      table {
        @apply block w-full overflow-x-auto;
      }

      td,
      th {
        @apply break-words;
      }
    }
  }

  .tag-selector {
    @apply bg-gray-100 dark:bg-dark-default p-2 rounded-xl;

    input {
      background-color: transparent;
    }
  }
}
